<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cars</h1>
    
    <table>
      <thead>
        <td>
          Model
        </td>
        <td>
          Serie
        </td>
        <td>
          Year
        </td>
      </thead>

      <tbody>
        <% cars.forEach(car => { %>
          <tr>
            <td>
              <%= car.model %>
            </td>
            <td>
              <%= car.serie %>
            </td>
            <td>
              <%= car.year %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>

    <form action="/cars" method="post">
      Model <input type="text" name="model"/><br/>
      Serie <input type="text" name="serie"/><br>
      Year <input type="number" name="year"/><br/>
      <button type="submit">Add car</button><br/>
      <h4>Which car is the best?</h4>
      <input type="checkbox" name="car" value="Mercedes"/><label>Mercedes</label>
      <input type="checkbox" name="car" value="BMW"/><label>BMW</label>
      <input type="checkbox" name="car" value="Audi"/><label>Audi</label><br/>
      <select>
        <optgroup label="German Cars">
          <option>BMW</option>
          <option>Mercedes</option>
          <option>Audi</option>
        </optgroup>
        <optgroup label="Italian Cars">
          <option>Ferrari</option>
          <option>Maserati</option>
          <option>Lancia</option>
        </optgroup>
      </select>
      
    </form>

  </body>
</html>
