<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Countries</title>
  </head>
  <body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Country</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Capital City</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Language</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Population</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <form action="/countries" method="post" class="mt-5" style="width: 500px; margin: 0 auto;">
        <div class="row g-3">
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="City" name="city" aria-label="City">
            </div>
            <div class="col-sm">
              <input type="text" class="form-control" placeholder="State" name="state" aria-label="State">
            </div>
            <div class="col-sm">
              <input type="text" class="form-control" placeholder="Zip" name="zip" aria-label="Zip">
            </div>
          </div>

          <button type="submit" class="btn btn-success mt-3">Create</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

   
  </body>
</html>
