<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Countries</title>
  </head>
  <body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Country</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">City</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Language</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Population</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <a href="/countries/create" class="btn btn-success mt-5">Add country</a>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">ZIP</th>
        </tr>
      </thead>
      <tbody>
        <% countries.forEach(country => { %>
          <tr>
            <th scope="row"><%= country.city %></th>
            <td><%= country.state %></td>
            <td><%= country.zip %></td>
          </tr>
        <% }) %>
       
      </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

   
  </body>
</html>
